<div class="container-fluid fixed-top bg-white">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Experience</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        </ul>
    </header>
</div>